

body{font-size:14px;}
.wrap { 
	margin:0 auto; 
	width:100%; 
	margin-top:50px;
}
.board_tb{width:45%;margin:0;padding:10px;display:inline;float:left;}
.board_btn{float:right;}
.board_btn ul{display:inline;padding:0;margin:10px 0;}
.board_btn ul li{list-style:none;float:left;}
table { 
	width:100%;
	border:0px solid #ededed; 
	border-collapse:collapse;
}
th { 
	background:#ededed;
}
.num { 
	width:10%;
}
td, th { 
	border:1px solid #ededed; 
	padding:10px; 
	text-align:center;
}
