

.wrap_01{width:60%;margin:0 auto;}
.tb_01{width:100%;border:1px solid #ededed;border-collapse:collapse;}
.tb_01 td, .tb_01 th{border:1px solid #ededed;padding:10px 5px;text-align:center;}
.tb_01 th{background:#ededed;}
